# Binaries for programs and plugins
*.exe
*.so

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand-specific (also applicable for other JetBrains IDEs)
.idea/

# GoLand run/debug configurations
*.iml
