/.idea/
/target/
/legacy.yaml
/ci-deploy
/.sonar
/.scannerwork
.vs/
.DS_Store
tmp/
w3-presets-data/
*.xlsx
*.qtpl.go
.idea
__pycache__/
*.ckpt
*.pth
venv
electron_cache/
target/
/.env
.task/
.gortex/
